p,td,body {font-size: 14px;}
a {color: #000000;text-decoration: none;}
a:hover {color: #000000;text-decoration: none;}
a:visited {color: #000000;text-decoration: none;}
input,textarea,select {
	font:14px "ו","ו"; 
	background-color:#F6F6F6;
	border-style:solid; 
	border-width:1px;
	border-color:black}
